body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.site-header {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #72acad;
    color: white;
    padding: 15px 20px;
}

.logo img {
    height: 70px;   /* logo size */
    width: auto;
}

.company-name h1 {
    margin: 0;
    font-size: 24px;
}

.company-name p {
    margin: 0;
    font-size: 14px;
}


nav {
    background: #333;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
   background-color: rgb(230, 120, 120);
}

section {
    background: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
}

.center-img {
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 290px;
  }

  .why-choose-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    max-width: 1100px;
    margin: 40px auto;
    padding: 30px;
    background: #ffffff;
}

.why-text {
    flex: 1;
}

.why-image {
    flex: 1;
    text-align: right;
}

.why-image img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}


footer {
    background: #72acad;
    color: white;
    text-align: center;
    padding: 10px;
}
